<ion-view view-title="Welcome">

  <ion-content style="text-align: center;">
    <br/>
    <!--<div class="ic-selected" data-componentid="image1" data-tap-disabled="true">-->
      <!--<img src="img/fondo.jpg" width="80%" height="auto" class="cover">-->
    <!--</div>-->
    <div class="list" style="text-align: center;">

      <a class="item item-avatar" href="#">
        <img src="img/ionic.png">
        <h2>Ver galeria</h2>
        <p>Ingresa para ver la galeria que prefieras.</p>
      </a>

    </div>
    <div class="list" style="text-align: center;">

      <a class="item item-avatar" href="#/app/buscar">
        <img src="img/ionic.png">
        <h2>Buscar usuario</h2>
        <p>Traer id de usuario, para ver que ondara.</p>
      </a>

    </div>
    <div class="list" style="text-align: center;">

      <a class="item item-avatar" href="#">
        <img src="img/ionic.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

    </div>
  </ion-content>

</ion-view>
