<ion-view view-title="{{titulo_busqueda}}">
  <ion-content padding="true">
    <!-- Busqueda -->
    <p>Ingresa el nombre de la persona que deseas buscar:</p>
    <div ng-controller='buscarCtrl'>
      <div class="bar bar-header item-input-inset">
        <input type="search" placeholder="Ej:anymotion" ng-model="inputVal" required="true" />
      </div>
      <button ng-click='submit()'
      class="button button-positive button-full">Enviar</button>
      <table style="width:100%" ng-show="(photosets | filter:criteria).length" >
        <th>Titulo</th>
        <th>Fotos</th>
        <th>Seleccionar</th>
        <tr ng-repeat="photoset in photosets">
          <td>{{ photoset.title._content }}</td>
          <td>{{ photoset.photos }}</td>
          <td> <button ion-button color="secondary" ng-click='getPhotos(photoset.id)' 
          class="button button-positive button-full" style="background-color: #4CAF50">Ver Fotos</button></td>
          </tr>
        </table>
      </div>
    </ion-content>
  </ion-view>
