<ion-view view-title="{{titulo_fotos}}">
	<ion-content padding="true">
		<div ng-controller='fotosCtrl'>
			<ion-gallery ion-gallery-items="galleryPhotos" ion-item-callback="showPhoto(item)"></ion-gallery>    
		</div>

		<script id="image-modal.html" type="text/ng-template">
			<div class="modal image-modal transparent" ng-click="closeModal()">
				<ion-pane class="transparent">
					<img ng-src="{{imageSrc}}" class="fullscreen-image" ng-click="showComments()" />
				</ion-pane>
			</div>
		</script>
		<script id="comments-modal.html" type="text/ng-template">
			<div class="modal comments-modal transparent" ng-click="closeCommentsModal()">
				<ion-pane class="transparent">
					<div class="modal-dialog" style="max-height:85%;  margin-top: 50px; margin-bottom:50px;">
						<ion-scroll zooming = "true" direction = "xy" style = "width: 320px; height: 500px">
							<div class = "scroll-container">
								<div class="modal-content"> 
									<div class="modal-body">
										<div class="scrollme" ng-scrollbar>
											<div class="card" ng-repeat="comment in comments">
												<div class="item item-divider">
													{{comment.authorname}}
												</div>
												<div class="item item-text-wrap">
													<p ng-bind-html="comment._content"> </p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ion-scroll>
			</ion-pane>
		</div>
	</script>
</ion-content>
</ion-view>