  <ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button class="button button-clear" icon-only menu-toggle="left"><i class="icon ion-navicon"></i></button>
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Configuración</h1>
      </ion-header-bar>
      <ion-content>
        <ion-refresher
        pulling-text='...'
        on-refresh="cargarEncuestas()">
      </ion-refresher>
      <!-- Listado de encuestas -->
      <ion-list class="menu-list">
        <ion-item class="item" menu-close href="#/app/buscar">
          <div class="row">
            <div class="col col-75 menu-item">Buscar usuario</div>
          </div>
        </ion-item>
        <ion-item class="item" menu-close href="#/app/bienvenido">
          <div class="row">
            <div class="col col-75 menu-item">Volver al menú</div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
