<ion-view view-title="{{titulo_busqueda}}">
  <ion-content padding="true">
    <!-- Busqueda -->
    <p>Acá se van a ver las fotos del directorio... hay que cargar dinamicamente</p>
    <div class="list" ng-repeat="directorio in directorios.nombre">

      <ion-item class="item item-thumbnail-left">
        <i class="icon ion-android-checkmark-circle"></i>
        <a ng-href="#">{{directorios.nombre}}</a>
        <img src="img/ionic.png">
      </ion-item>
    </div>
  </ion-content>
</ion-view>
