<ion-view view-title="{{titulo_busqueda}}">
  <ion-content padding="true">
    <!-- Busqueda -->
    <p>Acá se van a ver las fotos del directorio... hay que cargar dinamicamente</p>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="ionic.jpg">
        <h2>DIRECTORIO ESPECIFICO 1 </h2>
        <p>FOTOS FOTOS FOTOS!!</p>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="ionic.jpg">
        <h2>DIRECTORIO ESPECIFICO 1 </h2>
        <p>FOTOS FOTOS FOTOS!!</p>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="ionic.jpg">
        <h2>DIRECTORIO ESPECIFICO 1 </h2>
        <p>FOTOS FOTOS FOTOS!!</p>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="ionic.jpg">
        <h2>DIRECTORIO ESPECIFICO 1 </h2>
        <p>FOTOS FOTOS FOTOS!!</p>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="ionic.jpg">
        <h2>DIRECTORIO ESPECIFICO 1 </h2>
        <p>FOTOS FOTOS FOTOS!!</p>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="ionic.jpg">
        <h2>DIRECTORIO ESPECIFICO 1 </h2>
        <p>FOTOS FOTOS FOTOS!!</p>
      </a>
    </div>

  </ion-content>
</ion-view>
