/* Empty. Add your own CSS if you like */

.menu-list .item-content {
padding: 0px !important;
}
.menu-item {
  padding-top: 1rem;
}
.cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.multiline {
  white-space: normal;
}
/* Arreglo para problema de ion-refresher en side menus */
.overflow-scroll > .scroll.overscroll {
  position: static !important;
}
ion-view{
  background-image: url("../img/fondo.jpg");
}
.list-home{
  display:block!important;
  -webkit-transition:-webkit-transform 1s ease-out;
  -moz-transition:-moz-transform 1s ease-out;
  -o-transition:-o-transform 1s ease-out;
  -ms-transition:-ms-transform 1s ease-out;
  transition:transform 1s ease-out;
}
.list-home:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}
